/* global */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #888888;
}

main {
    width: 920px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

a, button, input {
    border-radius: 4px;
}

button {
    color: #888888;
    border: 1px solid #707070;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    cursor: pointer;
}

button:focus {
    outline: none;
}

button:hover {
    background-color: #888888;
    color: #fff;
    border-color: #888888;
    transition: 0.3s;
}

.form-control:focus {
    border-color: #495057;
    box-shadow: none;
}

.arrow-up {
    display: none;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* start header */

#header {
    text-align: center;
    display: flex;
    width: 100%;
    height: 399px;
    background: linear-gradient(185deg, #707070 75%, #fff 75%);
    justify-content: center;
}

#banner {
    width: 800px;
}

#banner .info-box {
    padding-top: 69px;
    color: #fff;
}

#banner span {
    font-size: 20px;
}

#banner h1 {
    font-size: 40px;
    font-weight: bold;
}

#banner p {
    font-size: 14px;
    padding-top: 24px;
}

#actions {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#actions a {
    text-align: center;
    border: 1px solid #707070;
    background-color: #fff;
    color: #888888;
    font-size: 14px;
    width: 160px;
    margin: 0 10px;
    padding-top: 9px;
    padding-bottom: 9px;
}

#actions a:hover {
    background-color: #707070;
    color: #fff;
    border-color: #fff;
    transition: 0.3s;
}

/* end header */

/* start content */

#content {
    font-size: 12px;
    padding-top: 20px;
}

/* start info box */

#content .info-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#content .info-box .box-text {
    width: 520px;
}

#content .info-box .box-text h4 {
    font-weight: 400;
    font-size: 20px;
}

#content .info-box .box-text p {
    line-height: 18px;
    padding-top: 20px;
}

/* end info box */

/* form */

.form {
    width: 340px;
}

#form, #form .form-group {
    display: flex;
    flex-direction: column;
}

#form .form-group input {
    border: 1px solid #707070;
    padding: 6px;
    margin-top: 7px;
}

#form .form-group .labelForm {
    padding-top: 20px;
}

#form .radio-group {
    padding-top: 20px;
}

#form .radio-group label, #form .radio-group input {
    cursor: pointer;
}

#form .radio-group label {
    padding-left: 5px;
}

#form button {
    padding: 9px 0 9px 0;
    width: 100%;
    font-size: 16px;
}

#form .radio-group .femaleRadio {
    margin-left: 40px;
}

#form button {
    margin-top: 23px;
}

/* end form */

/* start featured */

.featured {
    width: 100%;
    height: 22px;
    text-align: center;
    padding-top: 90px;
    font-weight: bold;
    font-size: 18px;
}

.featured hr {
    background-color: #707070;
}

.featured-text {
    margin-top: -12px;
}

.featured-text span {
    background-color: #fff;
    padding: 0 17px 0 17px;
}

/* end featured */

/* start products */

#products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -40px;
}

.products {
    width: 200px;
    padding-top: 39px;
    padding-left: 10px;
    padding-right: 10px;
}

.product-caption img, .product-caption h4, .product-caption p, .product-caption .product-price {
    width: 200px;
}

.products img {
    width: 200px;
    height: 150px;
}

.products h4 {
    font-size: 14px;
    font-weight: 400;
    padding-top: 14px;
}

.products p {
    font-size: 12px;
    padding-top: 5px;
    min-height: 55px;
    max-height: 55px;
}

.product-price span {
    font-size: 12px;
}

.product-price h5 {
    font-size: 16px;
    padding: 6px 0 7px 0;
}

.product-price button {
    width: 100%;
    margin-top: 10px;
    padding: 6px 0 6px 0;
}

/* end product */

.load-products {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.load-products button {
    font-size: 16px;
    padding: 11px 36px;
}

/* end product */

/* fade in on load product  */

.product {
    animation: fadein 3s;
    /* default */
    -webkit-animation: fadein 3s;
    /* Webkit */
    -moz-animation: fadein 3s;
    /* Firefox */
    -ms-animation: fadein 3s;
    /* IE */
}

@keyframes fadein {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 1;
    }
    /* defaut */
}

@-moz-keyframes fadein {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 1;
    }
    /* Firefox */
}

@-webkit-keyframes fadein {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 1;
    }
    /* Webkit */
}

@-ms-keyframes fadein {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 1;
    }
    /* IE */
}

​
/* start share for friends */

.share {
    margin: 0 auto;
}

.share h4 {
    font-size: 14px;
    text-align: center;
    padding-top: 30px;
    font-weight: 400;
}

#share-form {
    padding-top: 40px;
    width: 720px;
    margin: 0 auto;
}

.share-form .form-group {
    display: flex;
    flex-direction: column;
}

.share-form .form-group input {
    border-radius: 0px;
    padding: 6px;
}

.share-form .form-group label {
    padding-bottom: 7px;
}

.share-form {
    display: flex;
    justify-content: space-between;
}

.share-form .form-group {
    width: 47%;
}

.share-form .form-group input {
    border: 1px solid #707070;
}

.submitFriend {
    padding-top: 55px;
    text-align: center;
}

.submitFriend button {
    font-size: 16px;
    padding: 11px 85px;
}

/* end share for friends */

/* footer */

#footer {
    padding-top: 70px;
    background: linear-gradient(-3deg, #707070 67%, #fff 67%);
    width: 100%;
    height: 293px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer .copyright {
    margin-top: 75px;
    font-size: 12px;
    text-align: center;
    color: #fff;
}

/* desktop  */

@media screen and (max-width: 920px) {
    #banner {
        width: 100%;
    }
    main {
        width: 100%;
    }
    #content .info-box {
        width: 90%;
        margin: 0 auto;
    }
    #content .info-box .box-text {
        width: 100%;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 780px) {
    #actions a {
        margin: 5px 10px;
    }
    #products {
        width: 90%;
        margin: 0 auto;
        justify-content: space-around;
    }
    #share-form {
        width: 100%;
    }
    .share-form {
        flex-direction: column;
    }
    .share {
        width: 90%;
        margin: 0 auto;
    }
    .share-form .form-group {
        width: 100%;
    }
    .share-form .form-group label {
        padding-top: 10px;
    }
}

@media screen and (max-width: 480px) {
    #content .info-box, #products, #banner {
        width: 90%;
        margin: 0 auto;
    }
    #header {
        background: linear-gradient(196deg, #707070 77%, #fff 77%)
    }
    #banner p {
        padding-top: 9px;
        width: 90%;
    }
    #banner .info-box {
        text-align: left;
        padding-top: 66px;
    }
    #actions {
        padding-top: 26px;
    }
    #actions a {
        margin-top: 20px;
    }
    #content .info-box .form-group {
        padding-top: 30px;
    }
    #form .form-group input {
        width: 95%;
    }
    #content .info-box .form {
        width: 100%;
    }
    #products {
        margin-top: -70px;
    }
    #products .products {
        display: flex;
        flex-direction: row;
        padding-top: 30px;
        width: 100%;
    }
    .products .product-caption p {
        display: none;
    }
    .products .product-caption {
        padding-left: 23px;
    }
    .products .product-price {
        padding-top: 6px;
    }
    .share-form {
        width: 90%;
        margin: 0 auto;
    }
    .share-form .form-group {
        width: 100%;
    }
    .share-form .form-group label {
        padding-top: 20px;
    }
    #footer {
        margin-top: 85px;
        height: 107px;
        background: linear-gradient(-8deg, #707070 67%, #fff 67%)
    }
    #footer .copyright {
        margin-top: 0px;
    }
}